{% extends 'base.html' %}

{% block content %}

<div style="
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:75vh;
">

    <div style="
        background:white;
        padding:40px;
        border-radius:25px;
        box-shadow:0 10px 25px rgba(0,0,0,0.15);
        width:430px;
        max-width:90%;
    ">

        <h2 style="
            text-align:center;
            margin-bottom:25px;
            color:#1e3a5f;
        ">
            Sign Up
        </h2>
		
		{% if form.errors %}
    		<div style="
        		background:#fee2e2;
        		color:#991b1b;
        		padding:15px;
        		border-radius:15px;
        		margin-bottom:20px;
    		">
        		{{ form.errors }}
    		</div>
		{% endif %}
        
		<form method="POST" novalidate>
            {% csrf_token %}

            <div style="margin-bottom:18px;">
                {{ form.username }}
				<small style="color:#666;">
    				{{ form.username.help_text }}
				</small>
            </div>

            <div style="margin-bottom:18px;">
                {{ form.password1 }}
				<small style="color:#666;">
    				{{ form.password1.help_text }}
				</small>
            </div>

            <div style="margin-bottom:22px;">
                {{ form.password2 }}
				<small style="color:#666;">
    				{{ form.password2.help_text }}
				</small>	
            </div>

            <button type="submit" style="
                width:100%;
                padding:14px;
                border:none;
                border-radius:30px;
                background:#1e3a5f;
                color:white;
                font-size:16px;
                cursor:pointer;
            ">
                Register
            </button>
        </form>

    </div>

</div>

{% endblock %}